.foother {
    background-color: #f1f0fe;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    
   
    
    
   
  }
  


  .top-foother h1 {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: black;
  }
  
  .top-foother p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: black;
  }
  
  .top-foother a {
    margin: 0 1rem;
    color: black;
    font-size: 2rem;
  }
  
  .bottom-foother {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
  }
  
  .bottom-foother div {
    text-align: left;
  }
  
  .bottom-foother h4 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    color: black;
  }
  
  .bottom-foother a {
    display: block;
    color: black;
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .bottom-foother a i {
    margin-right: 0.5rem;
  }
  
  .bottom-foother a:hover {
    color: #fff;
    transform: scale(1.5);
  }
  